body {
  font-family: Helvetica;
  font-size: 1em;
  padding: 30px;
}

h1 {
  font-family: 'Bevan', cursive;
  font-size: 4em;
  width: 900px;
  margin: 10px auto 10px auto;
}

#sessao {
  background-color: #55efc4;
  margin: 90px auto 90px auto;
  border: 1px solid #000000;
  box-shadow: 6px 6px 8px rgba(0,0,0,0.44);

  width: 900px;
}

.texto {
  margin: 10px auto 10px 30px;
  width: 500px;
}

.centro {
  margin: 60px auto 30px auto;
  width: 500px;
}

#resultado {
  margin-top: 25px;
  font-size: 3.5em;
  color: #82589F;
}

#btnResultado {
  border-radius: 1000px;
  border: 0;
  padding: 10px 30px 10px 30px;
  margin: 10px 0px;
  background-color: #3B3B98;
  color: #ffffff;
}

#btnResultado:hover {
  background-color: #182C61;
  cursor: pointer;
}
